*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
header{
    padding: 15px;
    background-color: rgb(185, 32, 32);
    color: white;
    grid-column: 1/4;
}
aside{
    padding: 15px 45px;
    background-color: rgb(97, 127, 151);
    color: white;
    
}
.aside-left{
    grid-column: 1 / 2;
}
.aside-right{
    grid-column: 3 / 4;
}
main{
    padding: 15px;    
    background-color: rgb(45, 46, 131);
    color: white;
    grid-column: 2 / 3;
}
footer{
    padding: 15px;
    background-color: rgb(189, 21, 21);
    color: white;
    grid-column: 1 / 4;
}